<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class=""><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Cart</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia|Crimson+Text:400,400i,600,600i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
 
	<!-- RS5.0 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
	
	<!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="libraries/lib.css">
	
	<!-- Custom - Common CSS -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">			
	<link rel="stylesheet" type="text/css" href="css/navigation-menu.css">
	<link rel="stylesheet" type="text/css" href="css/shortcode.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<style>
		<style>
			/* Custom Styles */
		ul.nav-tabs{
			width: 140px;
			margin-top: 20px;
			border-radius: 4px;
			border: 1px solid #ddd;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
		}
		ul.nav-tabs li{
			margin: 0;
			border-top: 1px solid #ddd;
		}
		ul.nav-tabs li:first-child{
			border-top: none;
		}
		ul.nav-tabs li a{
			margin: 0;
			padding: 8px 16px;
			border-radius: 0;
		}
		ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
			color: #fff;
			background: #0088cc;
			border: 1px solid #0088cc;
		}
		ul.nav-tabs li:first-child a{
			border-radius: 4px 4px 0 0;
		}
		ul.nav-tabs li:last-child a{
			border-radius: 0 0 4px 4px;
		}
		ul.nav-tabs.affix{
			top: 30px; /* Set the top position of pinned element */
		}
	</style>
	
	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
	<div class="main-container">
		<!-- Loader -->
		<div id="site-loader" class="load-complete">
			<div class="loader">
				<div class="loader-inner ball-clip-rotate">
					<div></div>
				</div>
			</div>
		</div><!-- Loader /- -->

		<!-- Header -->
		<header class="header-section container-fluid no-padding">
			<!-- Top Header -->
			<div class="top-header container-fluid no-padding">
				<!-- Container -->
				<div class="container">
					<div class="col-md-7 col-sm-7 col-xs-7 dropdown-bar">
						<h5>Welcome&nbsp;&nbsp;&nbsp;To&nbsp;&nbsp;&nbsp;Exchanged&nbsp;&nbsp;&nbsp;House</h5>
					</div>
					<!-- Social -->
					<div class="col-md-5 col-sm-5 col-xs-5 header-social">
						<ul>
							<li><a href="#" title="Facebook">登录</a></li>
							<li><a href="#" title="Twitter">注册</a></li>
							<li><a href="#" title="Linkedin">关于我们</a></li>
						</ul>
					</div><!-- Social /- -->
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->

			<!-- Menu Block -->
			<div class="container-fluid no-padding menu-block">
				<!-- Container -->
				<div class="container">
					<!-- nav -->
					<nav class="navbar navbar-default ow-navigation">
						<div class="navbar-header">
							<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="index.html" class="navbar-brand">Exchenged <span>House</span></a>
						</div>
						<!-- Menu Icon -->
						<div class="navbar-collapse collapse navbar-right" id="navbar">
							<ul class="nav navbar-nav">
								<li><a href="index.html">首页</a></li>
								<li><a href="classify.ejs">实物</a></li>
								<li><a href="checkout.html">虚拟</a></li>
								<li><a href="specific.ejs">服务</a></li>
								<li><a href="#">其他</a></li>
								<li style="margin-top: 7%;">
									<input  class="form-control"placeholder="输入要查找的东西" type="text" >
								</li>
								<li style="margin-top: 7%;">
									<button class="btn btn-search" title="查找" type="button"><i class="icon icon-Search" style="margin-left: -80%;"></i></button>
								</li>
							</ul>

						</div><!--/.nav-collapse -->
					</nav><!-- nav /- -->
				</div><!-- Container /- -->
			</div><!-- Menu Block /- -->
		</header><!-- Header /- -->


		<div class="container" style="margin-top: 3%;margin-bottom: 2%;">
			<div class="row">
				<div class="col-xs-3" id="myScrollspy">
					<ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125" style="">
						<li><a href="#section-1">第一部分</a></li>
						<li><a href="#section-2">第二部分</a></li>
						<li><a href="#section-3">第三部分</a></li>
						<li><a href="#section-4">第四部分</a></li>
						<li><a href="#section-5">第五部分</a></li>
					</ul>
				</div>
				<div class="col-xs-9">
					<div class="best-room-carousel">
						<ul class="row best-room_ul" style="list-style: none">
							<li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
								<div class="best-room_img">
									<a href="#"><img src="./images/about.jpg" alt=""></a>
									<div class="best-room_overlay">
										<div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
									</div>
								</div>
								<div class="best-room-info">
									<div class="best-room_t"><a href="best-rooms-detail.html">Grand Super Luxury</a></div>
									<div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
									</div>
									<div class="best-room_price">
										<span>$99</span> / two days
									</div>
								</div>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
								<div class="best-room_img">
									<a href="#"><img src="./images/about.jpg" alt=""></a>
									<div class="best-room_overlay">
										<div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
									</div>
								</div>
								<div class="best-room-info">
									<div class="best-room_t"><a href="best-rooms-detail.html">Special Spa Room</a></div>
									<div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
									</div>
									<div class="best-room_price">
										<span>$129</span> / two days
									</div>
								</div>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
								<div class="best-room_img">
									<a href="#"><img src="./images/about.jpg" alt=""></a>
									<div class="best-room_overlay">
										<div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
									</div>
								</div>
								<div class="best-room-info">
									<div class="best-room_t"><a href="best-rooms-detail.html">President Double Luxury</a></div>
									<div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
									</div>
									<div class="best-room_price">
										<span>$349</span> / two days
									</div>
								</div>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
								<div class="best-room_img">
									<a href="#"><img src="./images/about.jpg" alt=""></a>
									<div class="best-room_overlay">
										<div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
									</div>
								</div>
								<div class="best-room-info">
									<div class="best-room_t"><a href="best-rooms-detail.html">Grand Super Luxury</a></div>
									<div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
									</div>
									<div class="best-room_price">
										<span>$49</span> / two days
									</div>
								</div>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
								<div class="best-room_img">
									<a href="#"><img src="./images/about.jpg" alt=""></a>
									<div class="best-room_overlay">
										<div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
									</div>
								</div>
								<div class="best-room-info">
									<div class="best-room_t"><a href="best-rooms-detail.html">Special Spa Room</a></div>
									<div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
									</div>
									<div class="best-room_price">
										<span>$199</span> / two days
									</div>
								</div>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
								<div class="best-room_img">
									<a href="#"><img src="./images/about.jpg" alt=""></a>
									<div class="best-room_overlay">
										<div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
									</div>
								</div>
								<div class="best-room-info">
									<div class="best-room_t"><a href="best-rooms-detail.html">President Double Luxury</a></div>
									<div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
									</div>
									<div class="best-room_price">
										<span>$209</span> / two days
									</div>
								</div>
							</li>
						</ul >
					</div>
					<nav class="ow-pagination">
						<div class="col-md-6 column"></div>
						<div class="col-md-6 column">
							<ul class="pagination">
								<li>
									<a href="#">Prev</a>
								</li>
								<li>
									<a href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
								<li>
									<a href="#">4</a>
								</li>
								<li>
									<a href="#">5</a>
								</li>
								<li>
									<a href="#">Next</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<div id="dealing" style=" flex: 0 0 auto;">
			<!-- Footer Main -->
			<div id="footer-main" class="footer-main container-fluid">
				<!-- Container -->
				<div class="container">
					<div class="row">
						<!-- Widget About -->
						<aside class="col-md-4 col-sm-8 col-xs-8 ftr-widget widget_about">
							<a href="index.html" title="Max Shop">Exchanged <span>House</span></a>
							<div class="info">
								<p><i class="icon icon-Pointer"></i>Exchanged House, All Over The World</p>
								<p><i class="icon icon-Phone2"></i><a href="tel:(11)1234567890" title="Phone" class="phone">(11) 123 456 7890</a></p>
								<p><i class="icon icon-Imbox"></i><a href="576961950@qq.com" title="576961950@qq.com">576961950@qq.com</a></p>
							</div>
						</aside><!-- Widget About /- -->
						<!-- Widget Links -->
						<aside class="col-md-4 col-sm-8 col-xs-8 ftr-widget widget_links">
							<h3 class="widget-title">热门分类</h3>
							<ul>
								<li><a href="#product-section" title="Popular Products">Popular Products</a></li>
								<li><a href="#selling" title="Best Selling">Best Selling</a></li>
								<li><a href="specific.ejs" title="About Us">About Us</a></li>
								<li><a href="#dealing" title="Deal Of The Day">Deal Of The Day</a></li>
								<li><a href="contact-us.html" title="Contact Us">Contact Us</a></li>
							</ul>
						</aside><!-- Widget Links /- -->
						<!-- Widget Account -->
						<aside class="col-md-4 col-sm-8 col-xs-8 ftr-widget widget_links widget_account">
							<h3 class="widget-title">my account</h3>
							<ul>
								<li><a href="#" title="My Order Details">My Order Details</a></li>
								<li><a href="#" title="My credit Offers">My credit Offers</a></li>
								<li><a href="#" title="My addresses">My addresses</a></li>
								<li><a href="#" title="My Personal Details">My Personal Details</a></li>
								<li><a href="#" title="My Account Details">My Account Details</a></li>
							</ul>
						</aside><!-- Widget Account /- -->
						<!-- Widget Newsletter -->
					</div>
					<div class="copyright-section">
						<div class="coyright-content">
							<p>2017-2018 From LYZ 毕业设计</p>
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Footer Main /- -->

		</div>

	</div>
	
	<!-- JQuery v1.12.4 -->
	<script src="js/jquery.min.js"></script>

	<!-- Library - Js -->
	<script src="libraries/lib.js"></script>
	
	<script src="libraries/jquery.countdown.min.js"></script>
	
	<!-- RS5.0 Core JS Files -->
	<script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
	<script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	
	<!-- Library - Google Map API -->
	<!---<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40y4kdsjsz714OVTvrw7woVCpD8EbLE"></script>--->

	<!-- Library - Theme JS -->
	<script src="js/functions.js"></script>
	
</body>
</html>
	

