<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class=""><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Home</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia|Crimson+Text:400,400i,600,600i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
 
	<!-- RS5.0 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
	
	<!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="libraries/lib.css">
	
	<!-- Custom - Common CSS -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">			
	<link rel="stylesheet" type="text/css" href="css/navigation-menu.css">
	<link rel="stylesheet" type="text/css" href="css/shortcode.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	
	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
	<div class="main-container" style="height: auto">
		<!-- Loader -->
		<div id="site-loader" class="load-complete">
			<div class="loader">
				<div class="loader-inner ball-clip-rotate">
					<div></div>
				</div>
			</div>
		</div><!-- Loader /- -->

		<!-- Header -->
		<header class="header-section container-fluid no-padding">
			<!-- Top Header -->
			<div class="top-header container-fluid no-padding">
				<!-- Container -->
				<div class="container">
					<div class="col-md-7 col-sm-7 col-xs-7 dropdown-bar">
						<h5>Welcome&nbsp;&nbsp;&nbsp;To&nbsp;&nbsp;&nbsp;Exchanged&nbsp;&nbsp;&nbsp;House</h5>
					</div>
					<!-- Social -->
					<div class="col-md-5 col-sm-5 col-xs-5 header-social"> 
						<ul>
							<li><a href="#" title="Facebook">登录</a></li>
							<li><a href="#" title="Twitter">注册</a></li>
							<li><a href="#" title="Linkedin">关于我们</a></li>
						</ul>
					</div><!-- Social /- -->
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->
			
			<!-- Menu Block -->
			<div class="container-fluid no-padding menu-block">
				<!-- Container -->
				<div class="container">
					<!-- nav -->
					<nav class="navbar navbar-default ow-navigation">
						<div class="navbar-header">
							<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="index.ejs" class="navbar-brand">Exchenged <span>House</span></a>
						</div>
						<!-- Menu Icon -->
						<div class="navbar-collapse collapse navbar-right" id="navbar">
							<ul class="nav navbar-nav">
								<li><a href="/" type="submit">首页</a></li>
								<li><a href="/real" type="submit">实物</a></li>
								<li><a href="/virtual" type="submit">虚拟</a></li>
								<li><a href="/serve" type="submit">服务</a></li>
								<li><a href="#">其他</a></li>
                                <li style="margin-top: 7%;">
                                    <input  class="form-control"placeholder="输入要查找的东西" type="text" >
                                    </li>
                                <li style="margin-top: 7%;">
                                    <button class="btn btn-search" title="查找" type="button"><i class="icon icon-Search" style="margin-left: -80%;"></i></button>
                                    </li>
							</ul>

						</div><!--/.nav-collapse -->
					</nav><!-- nav /- -->
				</div><!-- Container /- -->
			</div><!-- Menu Block /- -->
		</header><!-- Header /- -->
		
			<!-- Slider Section 1 -->
			<div id="home-revslider" class="slider-section container-fluid no-padding">
				<!-- START REVOLUTION SLIDER 5.0 -->

			<!-- Slider Section 1 /- --><div class="testimonial-section testimonial-section1 container-fluid">
		<!-- Container -->
		<div class="container">
			<!-- Section Header -->
			<div class="section-header">
				<h3>Clients Testimonials</h3>
				<p>our vision is to be Earth's most customer centric company</p>
				<img src="images/section-seprator.png" alt="section-seprator" />
			</div><!-- Section Header /- -->
			<!-- Main Carousel -->
			<div id="main-carousel1" class="carousel slide carousel-fade" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#main-carousel1" data-slide-to="0" class="active"></li>
					<li data-target="#main-carousel1" data-slide-to="1"></li>
					<li data-target="#main-carousel1" data-slide-to="2"></li>
				</ol>
				<div role="listbox" class="carousel-inner">
					<div class="item active">
						<div class="testimonial-content">
							<img src="images/testi-1.png" alt="testi" />
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							<p>The final frontier. These are the voyages of the Starship Enterprise? As long as we live its you and me baby. There ain't nothin'  Beats all you've ever saw been in trouble with the law since the day. </p>
							<span class="star">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
									</span>
							<h3>Strahow stuart</h3>
							<h5>Web Designer</h5>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<img src="images/testi-1.png" alt="testi" />
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							<p>The final frontier. These are the voyages of the Starship Enterprise? As long as we live its you and me baby. There ain't nothin'  Beats all you've ever saw been in trouble with the law since the day. </p>
							<span class="star">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
									</span>
							<h3>Strahow stuart</h3>
							<h5>Web Designer</h5>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<img src="images/testi-1.png" alt="testi" />
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							<p>The final frontier. These are the voyages of the Starship Enterprise? As long as we live its you and me baby. There ain't nothin'  Beats all you've ever saw been in trouble with the law since the day. </p>
							<span class="star">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
									</span>
							<h3>Strahow stuart</h3>
							<h5>Web Designer</h5>
						</div>
					</div>
				</div>
			</div><!-- Main Carousel /-  -->
		</div><!-- Container /- -->
			</div></div>

			<!-- Product Section -->
			<div id="product-section" class="product-section container-fluid no-padding">
				<!-- Container -->
				<div class="container">
					<div class="row">
						<!-- Section Header -->
						<div class="section-header">
							<h3>热门信息</h3>
							<p>全世界都在搜这些东西</p>
						</div><!-- Section Header /- -->
						<ul id="filters" class="products-categories no-left-padding">
							<li><a data-filter="*" class="active" href="#">全部信息</a></li>
							<li><a data-filter=".design" href="#">食品</a></li>
							<li><a data-filter=".video" href="#">衣物</a></li>
							<li><a data-filter=".photography" href="#">洗护</a></li>
							<li><a data-filter=".web" href="#">电子</a></li>
							<li><a data-filter=".design" href="#">虚拟</a></li>
							<li><a data-filter=".photography" href="#">服务</a></li>
						</ul>
						<!-- Products -->
						<ul class="products">
							<!-- Product -->
							<li class="product design">
								<a href="#">
									<img src="images/product-1.jpg" alt="Product" />
									<h5>Stylish Chair</h5>
									<span class="price"><del>$200</del>$139</span>
								</a>
								<div class="wishlist-box">
									<a href="#"><i class="fa fa-arrows-alt"></i></a>
									<a href="#"><i class="fa fa-heart-o"></i></a>
									<a href="#"><i class="fa fa-search"></i></a>
								</div>
								<a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
							</li><!-- Product /- -->

							<!-- Product -->
							<li class="product video">
								<a href="#">
									<img src="images/product-2.jpg" alt="Product" />
									<h5>men's casual shoes</h5>
									<span class="price"><del>$150</del>$85</span>
								</a>
								<div class="wishlist-box">
									<a href="#"><i class="fa fa-arrows-alt"></i></a>
									<a href="#"><i class="fa fa-heart-o"></i></a>
									<a href="#"><i class="fa fa-search"></i></a>
								</div>
								<a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
							</li><!-- Product /- -->
							
							<!-- Product -->
							<li class="product photography">
								<a href="#">
									<img src="images/product-3.jpg" alt="Product" />
									<h5>Sun glass</h5>
									<span class="price"><del>$100</del>$35</span>
								</a>
								<div class="wishlist-box">
									<a href="#"><i class="fa fa-arrows-alt"></i></a>
									<a href="#"><i class="fa fa-heart-o"></i></a>
									<a href="#"><i class="fa fa-search"></i></a>
								</div>
								<a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
							</li><!-- Product /- -->
							
							<!-- Product -->
							<li class="product web">
								<a href="#">
									<img src="images/product-4.jpg" alt="Product" />
									<h5>tourist bags</h5>
									<span class="price"><del>$350</del>$279</span>
								</a>
								<div class="wishlist-box">
									<a href="#"><i class="fa fa-arrows-alt"></i></a>
									<a href="#"><i class="fa fa-heart-o"></i></a>
									<a href="#"><i class="fa fa-search"></i></a>
								</div>
								<a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
							</li><!-- Product /- -->
							
							<!-- Product -->
							<li class="product design">
								<a href="#">
									<img src="images/product-5.jpg" alt="Product" />
									<h5>mobile phone</h5>
									<span class="price"><del>$450</del>$359</span>
								</a>
								<div class="wishlist-box">
									<a href="#"><i class="fa fa-arrows-alt"></i></a>
									<a href="#"><i class="fa fa-heart-o"></i></a>
									<a href="#"><i class="fa fa-search"></i></a>
								</div>
								<a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
							</li><!-- Product /- -->
							
							<!-- Product -->
							<li class="product video">
								<a href="#">
									<img src="images/product-6.jpg" alt="Product" />
									<h5>men's winter coat</h5>
									<span class="price"><del>$220</del>$129</span>
								</a>
								<div class="wishlist-box">
									<a href="#"><i class="fa fa-arrows-alt"></i></a>
									<a href="#"><i class="fa fa-heart-o"></i></a>
									<a href="#"><i class="fa fa-search"></i></a>
								</div>
								<a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
							</li><!-- Product /- -->
							
							<!-- Product -->
							<li class="product photography">
								<a href="#">
									<img src="images/product-7.jpg" alt="Product" />
									<h5>Model x12 computer</h5>
									<span class="price"><del>$850</del>$550</span>
								</a>
								<div class="wishlist-box">
									<a href="#"><i class="fa fa-arrows-alt"></i></a>
									<a href="#"><i class="fa fa-heart-o"></i></a>
									<a href="#"><i class="fa fa-search"></i></a>
								</div>
								<a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
							</li><!-- Product /- -->
							
							<!-- Product -->
							<li class="product web">
								<a href="#">
									<img src="images/product-8.jpg" alt="Product" />
									<h5>Stylish headset</h5>
									<span class="price"><del>$50</del>$29</span>
								</a>
								<div class="wishlist-box">
									<a href="#"><i class="fa fa-arrows-alt"></i></a>
									<a href="#"><i class="fa fa-heart-o"></i></a>
									<a href="#"><i class="fa fa-search"></i></a>
								</div>
								<a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
							</li><!-- Product /- -->
						</ul><!-- Products /- -->
					</div><!-- Row /- -->
					<nav class="ow-pagination">
                        <div class="col-md-8 column"></div>
                        <div class="col-md-4 column">
                            <ul class="pagination">
                                <li>
                                    <a href="#">Prev</a>
                                </li>
                                <li>
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#">Next</a>
                                </li>
                            </ul>
                        </div>
					</nav>
				</div><!-- Container /- -->
			</div><!-- Product Section /- -->

		<!-- Dealing Section2 -->
			<div id="dealing" style=" flex: 0 0 auto;">
		<!-- Footer Main -->
		<div id="footer-main" class="footer-main container-fluid">
			<!-- Container -->
			<div class="container">
				<div class="row">
					<!-- Widget About -->
					<aside class="col-md-4 col-sm-8 col-xs-8 ftr-widget widget_about">
						<a href="index.ejs" title="Max Shop">Exchanged <span>House</span></a>
						<div class="info">
							<p><i class="icon icon-Pointer"></i>Exchanged House, All Over The World</p>
							<p><i class="icon icon-Phone2"></i><a href="tel:(11)1234567890" title="Phone" class="phone">(11) 123 456 7890</a></p>
							<p><i class="icon icon-Imbox"></i><a href="576961950@qq.com" title="576961950@qq.com">576961950@qq.com</a></p>
						</div>
					</aside><!-- Widget About /- -->
					<!-- Widget Links -->
					<aside class="col-md-4 col-sm-8 col-xs-8 ftr-widget widget_links">
						<h3 class="widget-title">热门分类</h3>
						<ul>
							<li><a href="#product-section" title="Popular Products">Popular Products</a></li>
							<li><a href="#selling" title="Best Selling">Best Selling</a></li>
							<li><a href="specific.ejs" title="About Us">About Us</a></li>
							<li><a href="#dealing" title="Deal Of The Day">Deal Of The Day</a></li>
							<li><a href="contact-us.html" title="Contact Us">Contact Us</a></li>
						</ul>
					</aside><!-- Widget Links /- -->
					<!-- Widget Account -->
					<aside class="col-md-4 col-sm-8 col-xs-8 ftr-widget widget_links widget_account">
						<h3 class="widget-title">my account</h3>
						<ul>
							<li><a href="#" title="My Order Details">My Order Details</a></li>
							<li><a href="#" title="My credit Offers">My credit Offers</a></li>
							<li><a href="#" title="My addresses">My addresses</a></li>
							<li><a href="#" title="My Personal Details">My Personal Details</a></li>
							<li><a href="#" title="My Account Details">My Account Details</a></li>
						</ul>
					</aside><!-- Widget Account /- -->
					<!-- Widget Newsletter -->
				</div>
				<div class="copyright-section">
					<div class="coyright-content">
						<p>2017-2018 From LYZ 毕业设计</p>
					</div>
				</div>
			</div><!-- Container /- -->
		</div><!-- Footer Main /- -->

	</div>


	<!-- JQuery v1.12.4 -->
	<script src="js/jquery.min.js"></script>

	<!-- Library - Js -->
	<script src="libraries/lib.js"></script>

	<script src="libraries/jquery.countdown.min.js"></script>

	<!-- RS5.0 Core JS Files -->
	<script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
	<script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>

	<!-- Library - Theme JS -->
	<script src="js/functions.js"></script>

			</div>
	</div>
</body>
</html>

