<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class=""><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>About Us</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia|Crimson+Text:400,400i,600,600i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="../revolution/css/settings.css">
 
	<!-- RS5.0 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="../revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="../revolution/css/navigation.css">
	
	<!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="../libraries/lib.css">
	
	<!-- Custom - Common CSS -->
	<link rel="stylesheet" type="text/css" href="../css/plugins.css">
	<link rel="stylesheet" type="text/css" href="../css/navigation-menu.css">
	<link rel="stylesheet" type="text/css" href="../css/shortcode.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	
	
	<!--[if lt IE 9]>
		<script src="../js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
	<div class="main-container">
		<!-- Loader -->
		<div id="site-loader" class="load-complete">
			<div class="loader">
				<div class="loader-inner ball-clip-rotate">
					<div></div>
				</div>
			</div>
		</div><!-- Loader /- -->

		<!-- Header -->
		<header class="header-section container-fluid no-padding">
			<!-- Top Header -->
			<div class="top-header container-fluid no-padding">
				<!-- Container -->
				<div class="container">
					<div class="col-md-7 col-sm-7 col-xs-7 dropdown-bar">
						<h5>Welcome&nbsp;&nbsp;&nbsp;To&nbsp;&nbsp;&nbsp;Exchanged&nbsp;&nbsp;&nbsp;House</h5>
					</div>
					<!-- Social -->
					<div class="col-md-5 col-sm-5 col-xs-5 header-social">
						<ul>
							<li><a href="#" title="Facebook">登录</a></li>
							<li><a href="#" title="Twitter">注册</a></li>
							<li><a href="#" title="Linkedin">关于我们</a></li>
						</ul>
					</div><!-- Social /- -->
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->

			<!-- Menu Block -->
			<div class="container-fluid no-padding menu-block">
				<!-- Container -->
				<div class="container">
					<!-- nav -->
					<nav class="navbar navbar-default ow-navigation">
						<div class="navbar-header">
							<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="index.html" class="navbar-brand">Exchenged <span>House</span></a>
						</div>
						<!-- Menu Icon -->
						<div class="navbar-collapse collapse navbar-right" id="navbar">
							<ul class="nav navbar-nav">
								<li><a href="index.html">首页</a></li>
								<li><a href="classify.ejs">实物</a></li>
								<li><a href="checkout.html">虚拟</a></li>
								<li><a href="specific.ejs">服务</a></li>
								<li><a href="#">其他</a></li>
								<li style="margin-top: 7%;">
									<input  class="form-control"placeholder="输入要查找的东西" type="text" >
								</li>
								<li style="margin-top: 7%;">
									<button class="btn btn-search" title="查找" type="button"><i class="icon icon-Search" style="margin-left: -80%;"></i></button>
								</li>
							</ul>

						</div><!--/.nav-collapse -->
					</nav><!-- nav /- -->
				</div><!-- Container /- -->
			</div><!-- Menu Block /- -->
		</header><!-- Header /- -->
		
		<!-- Page Banner -->
		<div class="page-banner container-fluid no-padding">

				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header">
						<h3>商品名称</h3>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<img src="<%= result.information.imgsrc%>" alt="about" />
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="about-content">
                            <ul style="text-align:center; list-style:none;">
                                <li style="margin-top: 6%;"><h3>商品名称</h3></li>
								<li style="margin-top: 8%;"><h4><%= result.information.name %></h4></li>
                                <li style="margin-top: 8%;"><h4>商品描述</h4></li>
								<li style="margin-top: 8%;"><h4><%= result.information.txetara%></h4></li>
                                <li style="margin-top: 8%;"><h4>信息持有者联系方式</h4>
								<li style="margin-top: 8%;"><h4 id="toEmail"><%= result.information.user%></h4></li>
                                <li style="margin-top: 12%;" onclick="sendEmail()"> <button type="button" class="btn btn-primary btn-lg" style="text-align:center;" >联系信息人</button></li>
                            </ul>
                        </div>
					</div>
				</div><!-- Container /- -->
        </div>
		<!-- Footer Main 1 -->
            <div class="row clearfix" style="height: 40%;margin-bottom: 20%;">
                <div class="col-md-2 column">
                </div>
                <div class="col-md-8 column">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="#">留言</a>
                        </li>
                    </ul>
                    <div>
                      <h3>feffewefwe</h3>
                        <p>fdfdfsffsfs</p>
                    </div>
                </div>
                <div class="col-md-2 column">
                </div>
            </div>

		<div id="dealing" style=" flex: 0 0 auto;">
			<!-- Footer Main -->
			<div id="footer-main" class="footer-main container-fluid">
				<!-- Container -->
				<div class="container">
					<div class="row">
						<!-- Widget About -->
						<aside class="col-md-4 col-sm-8 col-xs-8 ftr-widget widget_about">
							<a href="index.html" title="Max Shop">Exchanged <span>House</span></a>
							<div class="info">
								<p><i class="icon icon-Pointer"></i>Exchanged House, All Over The World</p>
								<p><i class="icon icon-Phone2"></i><a href="tel:(11)1234567890" title="Phone" class="phone">(11) 123 456 7890</a></p>
								<p><i class="icon icon-Imbox"></i><a href="576961950@qq.com" title="576961950@qq.com">576961950@qq.com</a></p>
							</div>
						</aside><!-- Widget About /- -->
						<!-- Widget Links -->
						<aside class="col-md-4 col-sm-8 col-xs-8 ftr-widget widget_links">
							<h3 class="widget-title">热门分类</h3>
							<ul>
								<li><a href="#product-section" title="Popular Products">Popular Products</a></li>
								<li><a href="#selling" title="Best Selling">Best Selling</a></li>
								<li><a href="specific.ejs" title="About Us">About Us</a></li>
								<li><a href="#dealing" title="Deal Of The Day">Deal Of The Day</a></li>
								<li><a href="contact-us.html" title="Contact Us">Contact Us</a></li>
							</ul>
						</aside><!-- Widget Links /- -->
						<!-- Widget Account -->
						<aside class="col-md-4 col-sm-8 col-xs-8 ftr-widget widget_links widget_account">
							<h3 class="widget-title">my account</h3>
							<ul>
								<li><a href="#" title="My Order Details">My Order Details</a></li>
								<li><a href="#" title="My credit Offers">My credit Offers</a></li>
								<li><a href="#" title="My addresses">My addresses</a></li>
								<li><a href="#" title="My Personal Details">My Personal Details</a></li>
								<li><a href="#" title="My Account Details">My Account Details</a></li>
							</ul>
						</aside><!-- Widget Account /- -->
						<!-- Widget Newsletter -->
					</div>
					<div class="copyright-section">
						<div class="coyright-content">
							<p>2017-2018 From LYZ 毕业设计</p>
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Footer Main /- -->
		</div>
	</div>
	<!-- JQuery v1.12.4 -->
	<script src="../js/jquery.min.js"></script>

	<!-- Library - Js -->
	<script src="../libraries/lib.js"></script>
	
	<script src="../libraries/jquery.countdown.min.js"></script>
	
	<!-- RS5.0 Core JS Files -->
	<script type="text/javascript" src="../revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
	<script type="text/javascript" src="../revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
	<script type="text/javascript" src="../revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="../revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="../revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="../revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	
	<!-- Library - Google Map API -->
	<!---<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40y4kdsjsz714OVTvrw7woVCpD8EbLE"></script>--->

	<!-- Library - Theme JS -->
	<script src="../js/functions.js"></script>
	<script>
		function sendEmail() {
			var to=document.getElementById("toEmail").innerHTML;
			var from=document.cookie;
            var username=document.cookie.split(";");    //.split("=")[1]
			for(var i=0 ;i<username.length;i++){
			    var temp=username[i].split("=");
			    if(temp[0]==' user'){
			        from=temp[1]
					console.log(from)
				}
			}
			var to='576961950@qq.com'
            $.post("http://127.0.0.1:9000/email",{from:from,to:to},function (data) {
                if(data.length==0){
                }else {
                    alert("信息发送成功！")
                }
            })
        }
	</script>
</body>
</html>
	

